<p>saludador works!</p>
<div class="container content">
    <div class="row">
        <div class="col col-md-6"> Hola mundo desde el app-saludador </div>
        <div class="col col-md-6"> Hola mundo desde el app-saludador </div>
    </div>
</div>
