
<div class="container content">  
  <nav style="display:block;"class="navbar navbar-light bg-dark">
    <a class="navbar-brand"><h1>Routes</h1></a>
    
    <a [routerLink]='["/home"]'>Home</a>
    <a [routerLink]='["/destino"]'>Destino</a>
  </nav>
  <router-outlet></router-outlet> <!-- renderea los compnentes de rutas-->
</div>